.intro {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.light {
  background-color: whitesmoke;
}

.dark {
  background-color: black;
  color: whitesmoke;
}

button {
  float: right;
}

button:hover {
  text-emphasis: inherit;
  text-decoration: underline;
  font-weight: bold;
}

h2 {
  color: blueviolet;
}

p#intro {
  color: red;
  text-decoration: underline;
  font-size: larger;
}

img {
  display: block;
  margin: 0 auto;
  height: 150px;
}

body {
  margin: 20px 50px 20px 50px;
}